.btnContainer {
  display: flex;
  justify-content: center;
}

.newRecommendationBtn {
  background: none;
  border: none;
  margin: 20px 0;
}

.newRecommendationBtn:hover {
  text-shadow: 0.5px 0.5px 1px #1d1d1b;
}