.dashboardContainer {
  height: 75vh;
  display: flex;
  justify-content: flex-end;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 100px;
  width: 40%;
}

.groupButton {
  margin: 0 auto;
}

.rightContainer {
  margin-left: 50px;
  width: 100%;
}

.categoryContainer {
  width: 100%;
  min-height: 80px;
}

.recommendationsContainer {
  width: 100%;
  margin-left: 15px;
  overflow-y: scroll;
  max-height: 47vh;
}

.createRecContainer {
  width: 100%;
  min-height: 80px;
  margin-left: -80px;
}

.notAllowed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}