.dashboardContainer {
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  overflow-y: scroll;
}

.leftContainer {
  overflow-y: scroll;
  max-height: 60vh;
  margin-top: 10px;
  margin-left: 50px;
  flex: 1;
}

.rightContainer {
  flex: 3;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 60vh;
  overflow-y: scroll;
}

.notAllowed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}