.groupContainer {
  margin: 10px;
  border: 0.2px solid #ededed;
  color: #384047;
  cursor: pointer;
  text-align: center;
}

.selectedContainer {
  margin: 10px;
  border: 0.2px solid #ededed;
  color: #ffde00;
  cursor: pointer;
  text-align: center;
  border: #1d1d1b 1px solid;
  padding: 10px;
  padding-top: 0;
  border-radius: 20px;
  background-color: #1d1d1b;
}

.groupName {
  margin: 18px;
}

.inviteBtn {
  background-color: #384047;
  border-radius: 20px;
  padding: 3px 15px;
  color: #ffde00;
}

.link:hover {
  text-shadow: 0.5px 0.5px 1px #1d1d1b;
  color: #483b2b;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}