.fullbar {
  margin: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fullbarRoot {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileContainer {
  display: flex;
  align-items: center;
}

.profileImg {
  border-radius: 100px;
}

.dashboardBtn {
  margin-left: 20px;
  background: none;
  border: none;
}

.logoContainer {
  max-width: 40%;
  cursor: pointer;
}


/* .addButton {
  background-color: #dadada;
  padding: 8px;
  border: none;
  font-weight: 700;
  border-radius: 8px;
  padding: 10px;
  transition:all ease-in-out 0.2;
}

.addButton:hover {
  transform: scale(1.02);
  background-color: #ededed;
}

.addButton:active {
  transform: scale(0.97);
  opacity: 0.8;
} */