.fullbar {
  margin: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addButton {
  background-color: grey;
  margin-right: 40px;
}

.logoContainer {
  max-width: 40%;
}