.fullbar {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton {
  background-color: #dadada;
  padding: 8px;
  border: none;
  font-weight: 700;
  border-radius: 8px;
  padding: 10px;
  transition:all ease-in-out 0.2;
}

.addButton:hover {
  transform: scale(1.02);
  background-color: #ededed;
}

.addButton:active {
  transform: scale(0.97);
  opacity: 0.8;
}

.logoContainer {
  max-width: 40%;
  cursor: pointer;
}