.container {
  margin: 80px auto;
  width: 300px;
  height: 300px;
  background-color: #ffde00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.logForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInput {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  height: 1.6rem;
}

.loginButton {
  background-color: #dadada;
  border: 0.2px solid;
  padding: 8px;
  border-radius: 8px;
  transition:all ease-in-out 0.2;
}

.loginButton:hover {
  transform: scale(1.02);
  background-color: #ededed;
}

.loginButton:active {
  transform: scale(0.97);
  opacity: 0.8;
}

.signupLink {
  font-size: 12px;
}

/* Amarillo ffde00
Negro 1d1d1b
Mapache gris cara dadada
Mapache negro 1d1d1b
Mapache ocico ededed
Mapache gris oscuro nariz 384047
Mapache gris claro nariz 4e555a
Mapache gris ojos 3e4348 */