.profileContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.detailsContainer {
  padding-top: 100px;
  margin-right: -200px;
  width:max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

.contentContainer {
  justify-self: flex-start;
  font-weight: 500;
}

.name {
  font-size: 2em;
  margin-bottom: 0px;
}

.email {
  font-size: 1em;
}

.notAllowed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileImg {
  border-radius: 100px;
}

.profileContainer {
  display: flex;
}

.list {
  list-style-type: circle;
}